* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://i.pinimg.com/originals/cc/a9/bb/cca9bbab00fa1a880a11fefa99616458.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContainer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.projectTitle {
    text-align: center;
    font-size: 5rem;
    color: whitesmoke;
    text-shadow: 3px 3px 6px rgb(177, 23, 23);
}

.mainBlock {
    width: 60%;
    background-color:rgba(97, 82, 78, 0.788) ;
    opacity: 0.8;
    padding: 2rem;
}

.firstDiv {
    display: grid;
    grid-template-columns:3fr 1fr 1fr ;
    gap: 10px;
    padding-bottom: 1rem;

}

.firstDiv input {
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    outline: none;
    
}

.addBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 13px;
}

.addBtn:hover {
    background-color: white;
    color: black;
    border: none;
    border-radius: 13px;
}

.todoList li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.deleteBtn {
    background-color: rgb(0, 0, 0);
    color: rgb(218, 218, 218);
    border: none;
    border-radius: 13px;
    padding: 0.5rem 0;
}

.deleteBtn.hover {
    background-color: white;
    color:rgb(220, 0, 0);
    border: none;
    padding: 0.5rem 0;
    border-radius: 13px;
}

.done{
    text-decoration:line-through ;
    text-decoration-color: black;
}



